[Unit]
Description=API Server
After=network.target

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
ExecStart=/usr/bin/php /opt/registry/api/start_api.php
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
WorkingDirectory=/opt/registry/api
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=api

[Install]
WantedBy=multi-user.target
